---
title: GitLab for the Public Sector
suppress_header: true
extra_css:
  - public-sector.css
---

.landing-header
  = partial "includes/icons/gitlab-icon-pattern-header.svg"
  .container
    .landing-content
      %h1 GitLab for the Public Sector
      %h2
        Bring the power of Git and CI/CD to your federal, state, and education IT teams.

.page-container.summary-container.text-center
  .container
    %h2.summary-title
      Unlock great software with GitLab Enterprise Edition
    .description
      %p
        Social coding, continuous integration, and release automation have proven to improve development speed and software quality.  
        %div
          With GitLab’s enterprise-grade source code management, code review, continuous Integration, continuous delivery, and application monitoring tools, you can remove the roadblocks to collaboration and accelerate your development process.
    %a.btn.cta-btn.red{ href: '#mktoForm_1411' }
      Contact us today

.page-container.characteristics-container
  .container
    .row
      .col-md-12
        .row.row-characteristics
          .col-sm-6.col-md-6
            .row
              .col-sm-2.col-md-2.icon-container
                =icon("public-sector/globe-icon")
              .col-sm-10
                %h4.point-title
                  Git at enterprise scale
                %p.point-description
                  Built to support today’s global organizations, GitLab Enterprise Edition scales in terms of users, data, and geographic location. A single server can handle thousands of users and repositories.
          .col-sm-6.col-md-6
            .row
              .col-sm-2.col-md-2.icon-container
                =icon("public-sector/server-icon")
              .col-sm-10
                %h4.point-title
                  Host it your way
                %p.point-description
                  GitLab ships in one easy-to-install package that can be hosted on your servers or on the cloud provider of your choice.
        .row.row-characteristics
          .col-sm-6.col-md-6
            .row
              .col-sm-2.col-md-2.icon-container
                =icon("public-sector/code-icon")
              .col-sm-10
                %h4.point-title
                  Code collaboratively
                %p.point-description
                  Create a culture of collaboration where developers can easily contribute ideas through merge request and get feedback through inline commenting and discussions.
          .col-sm-6.col-md-6
            .row
              .col-sm-2.col-md-2.icon-container
                =icon("public-sector/settings-icon")
              .col-sm-10
                %h4.point-title
                  Integrate with existing tools
                %p.point-description
                  GitLab can easily fit into your existing workflow. It integrates with dozens of external tools, such as Slack, JIRA, Jenkins and many more.
        .row.row-characteristics
          .col-sm-6.col-md-6
            .row
              .col-sm-2.col-md-2.icon-container
                =icon("public-sector/checklist-icon")
              .col-sm-10
                %h4.point-title
                  Improve software quality
                %p.point-description
                  Add quality control to your development process with automated testing. GitLab’s integrated continuous integration (CI) tool is fast and scalable, allowing your team can test every commit.
          .col-sm-6.col-md-6
            .row
              .col-sm-2.col-md-2.icon-container
                =icon("public-sector/security-icon")
              .col-sm-10
                %h4.point-title
                  Enforce security standards
                %p.point-description
                  GitLab Enterprise Edition gives admins more control over user and workflow management. Enforce workflow guidelines and security best practices without disrupting developer productivity.
        .row.row-characteristics
          .col-sm-6.col-md-6
            .row
              .col-sm-2.col-md-2.icon-container
                =icon("public-sector/rocket-icon")
              .col-sm-10
                %h4.point-title
                  Accelerate delivery
                %p.point-description
                  Automate your deployments to reduce error rates and accelerate delivery. GitLab Enterprise Edition comes with advanced continuous delivery (CD) features to enable your team to test, build, and deploy code.
          .col-sm-6.col-md-6
            .row
              .col-sm-2.col-md-2.icon-container
                =icon("public-sector/support-icon")
              .col-sm-10
                %h4.point-title
                  Take advantage of premium support
                %p.point-description
                  Stay focused on your products and let us help you with your onboarding, upgrading, and troubleshooting needs. For teams that are new to Git or Continuous Integration, Premium Support gives you access to training workshops.

.page-container.logos-container
  .container
    %h2
      Join these public sector organizations and start collaborating on code.
    .row.logos
      .col-sm-8.col-md-8.col-sm-offset-2.col-md-offset-2
        .row
          .col-sm-2.col-md-2.logo-container
            = icon("public-sector/us-dept-of-state-logo", 'center-svg')
          .hidden-xs.hidden-sm.col-md-3.navy-logo.logo-container
            = icon("public-sector/us-navy-logo", 'center-svg', width: 160)
          .hidden-md.hidden-lg.col-sm-3.navy-logo.logo-container
            = icon("public-sector/us-navy-logo", 'center-svg', width: 100)
          .col-sm-2.col-md-2.logo-container
            = icon("public-sector/us-dept-of-homeland-security-logo", 'center-svg')
          .col-sm-3.col-md-3.logo-container
            = icon("public-sector/us-air-force-logo", 'center-svg', width: 110)
          .col-sm-2.col-md-2
            = icon("public-sector/us-army-logo", 'center-svg')
    .row.logos
      .col-sm-8.col-sm-offset-2
        .row
          .col-sm-3.col-md-3.logo-container
            = icon("public-sector/nasa-logo", 'center-svg', width: 200)
          .hidden-xs.hidden-sm.col-md-4.logo-container
            = icon("public-sector/upmc-logo", 'center-svg', width: 200)
          .hidden-lg.hidden-md.col-sm-4.logo-container
            = icon("public-sector/upmc-logo", 'center-svg', width: 120)
          .col-sm-2.col-md-2.logo-container
            = icon("public-sector/federal-reserve-of-kansas-city-logo", 'center-svg')
          .col-sm-3.col-md-3
            = icon("public-sector/university-of-michigan-logo", 'center-svg')
    .row.logos
      .col-sm-8.col-md-8.col-sm-offset-2.col-md-offset-2
        %h4
          Available on the GSA Schedule and NASA SEWP V.
    .row.logos
      .col-sm-8.col-md-8.col-sm-offset-2.col-md-offset-2
        .row
          .hidden-xs.hidden-sm.col-md-6.pull-left
            = icon("public-sector/gsa-schedule-logo", 'pull-right', width: 200)
          .hidden-xs.hidden-sm.col-md-6.pull-right
            = icon("public-sector/sewp-v-nasa-logo", 'pull-left', width: 200)
        .row
          .hidden-md.hidden-lg.col-xs-12.logo-container
            = icon("public-sector/gsa-schedule-logo", 'center-svg', width: 200)
        .row
          .hidden-md.hidden-lg.col-xs-12.logo-container
            = icon("public-sector/sewp-v-nasa-logo", 'center-svg', width: 200)
        


.page-container.form-container
  .container
    %h2
      Contact GitLab’s Public Sector Sales team
    .row
      .col-sm-12.col-md-12.col-lg-10.col-sm-offset-0.col-md-offset-0.col-lg-offset-1
        .row
          .col-xs-12.col-sm-12.col-md-8.col-lg-8.form-column
            %script{src: "//app-ab13.marketo.com/js/forms2/js/forms2.min.js"}
            %form#mktoForm_1411
            :javascript
              MktoForms2.loadForm("//app-ab13.marketo.com", "194-VVC-221", 1411, function(form) {
                form.onSuccess(function(values, followUpUrl) {

                  form.getFormElem().hide();
                  document.getElementById('confirmform').style.visibility = 'visible';

                  dataLayer.push({event: 'mktoLead', mktoFormId: form.getId()});
                  return false;
                });
                function getgacid() {
                  try {
                    var tracker = ga.getAll()[0];
                    return tracker.get('clientId');
                  } catch (e) {
                    return 'n/a';
                  }
                }
                form.vals({
                  'gacid': getgacid()
                });
              });
            #confirmform{style: "visibility:hidden;"}
              %p Submission received! We'll be in contact shortly.
          .hidden-xs.hidden-sm.col-sm-4.col-md-4.col-lg-4.fed-info
            %h4
              GitLab Inc. Federal information
            .gitlab-list-fed-info
              %ul
                %li
                  %b
                    Federal Tax ID: 
                  47-1861035
                %li
                  %b
                    DUNS Number: 
                  087987115
                %li
                  %b
                    CAGE Code: 
                  7NJT9
                %li
                  %b
                    NAICS Code: 
                  511210, 541511, 541512
                %li
                  %b
                    GSA Schedule Number: 
                  GS35F0511T
            %h4
              Export Control Classification
            .gitlab-list-fed-info
              %ul
                %li
                  %b
                    (ECCN): 
                  5D002.c.1
                %li
                  %b
                    (CCATS): 
                  G163509
        .row
          .visible-xs.visible-sm.col-sm-12.fed-info
            %h4
              GitLab Inc. Federal information
            .gitlab-list-fed-info
              %ul
                %li
                  %b
                    Federal Tax ID: 
                  47-1861035
                %li
                  %b
                    DUNS Number: 
                  087987115
                %li
                  %b
                    CAGE Code: 
                  7NJT9
                %li
                  %b
                    NAICS Code: 
                  511210, 541511, 541512 
                %li
                  %b
                    GSA Schedule Number: 
                  GS35F0511T
            %h4
              Export Control Classification
            .gitlab-list-fed-info
              %ul
                %li
                  %b
                    (ECCN): 
                  5D002.c.1
                %li
                  %b
                    (CCATS): 
                  G163509