@import "variables";

p {
  font-size: 17px;
  font-weight: 200;
}

.wrapper {
  min-height: 0;
}

.core-container {
  position: relative;
  width: 100%;
  min-height: 125px;
  overflow: hidden;
  background: $color-primary;
  background-size: cover;
}

.core-content {
  padding: 30px;
  color: $color-white;
  text-align: center;
}
