- current_page.data.extra_css ||= []
- current_page.data.extra_css |= ['salary-calculator.css']

- current_page.data.extra_js ||= []
- current_page.data.extra_js |= ['libs/clipboard.min.js']
- current_page.data.extra_js |= ['salary-calculator.js']

- if role.salary
  .salary-container.col-xs-12{data: {salary: role.salary}}
    %h2#compensation Compensation
    .col-sm-8
      .col-sm-6
        .dropdown.level
          - if role.levels
            - default_level = role.levels.detect { |l| l[:is_default] }
            %button.dropdown-menu-toggle.btn{type: 'button', 'data-toggle' => 'dropdown'}
              %span.label Level
              %span.title.title-truncated{'data-selected' => default_level[:factor] }
                = default_level[:title]
              %span.subtitle
                = default_level[:factor]
              %i.fa.fa-chevron-down
            %ul.dropdown-menu.dropdown-scroll
              - role.levels.each do |level|
                %li
                  %span.key
                    = level[:title]
                  %span.value
                    = level[:factor]
          - else
            %button.dropdown-menu-toggle.btn{type: 'button', disabled: 'disabled', 'data-toggle' => 'dropdown'}
              %span.label Level
              %span.title{'data-selected' => '1.0'} N/A
              %span.subtitle 1.0
      .col-sm-6
        .dropdown.experience
          %button.dropdown-menu-toggle.btn{type: 'button', 'data-toggle' => 'dropdown'}
            %span.label Experience
            %span.title{data: { 'selected' => '0.8 to 1.2', 'min' => '0.8', 'max' => '1.2'} } Experience range
            %span.subtitle 0.8 to 1.2
            %i.fa.fa-chevron-down
          %ul.dropdown-menu.dropdown-scroll
            %li
              %span.key Experience range
              %span.value{'data': {'min': '0.8', 'max': '1.2'}} 0.8 to 1.2
            %li
              %span.key New to the position requirements
              %span.value{'data': {'min': '0.8', 'max': '0.9'}} 0.8 to 0.9
            %li
              %span.key Learning the position requirements
              %span.value{'data': {'min': '0.9', 'max': '1.0'}} 0.9 to 1.0
            %li
              %span.key Thriving with the requirements
              %span.value{'data': {'min': '1.0', 'max': '1.1'}} 1.0 to 1.1
            %li
              %span.key Expert in the requirements
              %span.value{'data': {'min': '1.1', 'max': '1.2'}} 1.1 to 1.2
      .col-sm-6
        .dropdown.country
          %button.dropdown-menu-toggle.btn{type: 'button', 'data-toggle' => 'dropdown'}
            %span.label Country
            %span.title --
            %i.fa.fa-chevron-down
          %ul.dropdown-menu.dropdown-scroll
            %li.filter-container
              %input.filter-input.js-country-filter{ type: 'search', placeholder: 'Search country'}
              %i.fa.fa-search
            - data.numbeo.uniq(&:country).sort_by(&:country).each do |p|
              %li
                %span.key= p.country
      .col-sm-6
        .dropdown.area
          %button.dropdown-menu-toggle.disabled.btn{type: 'button', 'data-toggle' => 'dropdown'}
            %span.label Area
            %span.title --
            %span.subtitle
            %i.fa.fa-chevron-down
          %ul.dropdown-menu.dropdown-scroll
            %li.filter-container
              %input.filter-input.js-area-filter{ type: 'search', placeholder: 'Search area'}
              %i.fa.fa-search
            - data.numbeo.sort_by(&:area).each do |p|
              %li.hidden{'data-country' => p.country}
                %span.key= p.area
                %span.display-value= sprintf('%0.3f', (p.rentIndex*0.01).round(3))
    .col-sm-4
      .compensation
        .title Annual Compensation
        .amount --
    .col-sm-12.hide.js-country-no-hire
      .alert.alert-warning
        Unfortunately GitLab is not hiring at your selected country at this time. Please read our
        %a{href: '/handbook/hiring/#country-hiring-guidelines'} hiring handbook
        for more details.
    .col-sm-12.formula-container
      %h4 How did we calculate your compensation?
      .formula
        .variable-group
          .variable.benchmark
            %span.name SF benchmark
            %span.value= "$#{number_with_delimiter(role.salary)}"
        .symbol.multiplication x
        .variable-group
          .symbol (
          .constant 0.7
          .symbol.multiplication x
          .symbol (
          .constant max
          .symbol (
          .constant 0.2,
          .variable.rentIndex
            %span.name Rent Index
            %span.value --
          .symbol.marketAdjustmentSymbol +
          .variable.marketAdjustment
            %span.name Hot Market Adjustment
            %span.value --
          .symbol )
          .symbol /
          .constant 1.26
          .symbol )
          .symbol +
          .constant 0.30
          .symbol )
        .symbol.multiplication x
        .variable-group
          .variable.level
            %span.name Level
            %span.value 1.0
        .symbol.multiplication x
        .variable-group
          .variable.experience
            %span.name Experience
            %span.value 0.8 to 1.2
        .symbol.multiplication x
        .variable-group
          .variable.contractType
            %span.name Contract Type
            %span.value --
        .symbol.multiplication x
        .variable-group
          .variable.countryFactor
            %span.name Country Factor
            %span.value --
      .explanation
      Find out
      = succeed '.' do
        %a{href: '/handbook/people-operations/global-compensation#compensation-calculator'} how our calculator works
      You are also eligible for
      %a{href: '/handbook/stock-options/'} stock options
      and
      = succeed '.' do
        %a{href: '/handbook/benefits/'} other benefits
      %span.contract-type-container.hidden
        Based on the information provided, we expect you will be
        %span.grammer a
        %strong.contract-type contractor
        at GitLab
        %span.company-type BV.
